[{:input "I0,I4,Q8",
  :render [[] [] [] [] [] [] [] [] [1] [1]],
  :result 1}
 {:input "T1,Z3,I4",
  :render
  [[]
   [0 1]
   [1 1]
   [0 1 1]
   [0 1 1 1]
   [0 1 0 1]
   [0 0 0 1]
   [0 0 0 1]
   []
   []],
  :result 4}
 {:input "Q0,I2,I6,I0,I6,I6,Q2,Q4",
  :render [[1] [1] [0 1 1] [0 1 1] [1] [1] [1] [1] [1] [1]],
  :result 3}
 {:input "Q0",
  :render [[1 1] [1 1] [] [] [] [] [] [] [] []],
  :result 2}
 {:input "Q0,Q1",
  :render [[1 1] [1 1 1 1] [0 0 1 1] [] [] [] [] [] [] []],
  :result 4}
 {:input "Q0,Q2,Q4,Q6,Q8",
  :render [[] [] [] [] [] [] [] [] [] []],
  :result 0}
 {:input "Q0,Q2,Q4,Q6,Q8,Q1",
  :render [[] [1 1] [1 1] [] [] [] [] [] [] []],
  :result 2}
 {:input "Q0,Q2,Q4,Q6,Q8,Q1,Q1",
  :render [[] [1 1 1 1] [1 1 1 1] [] [] [] [] [] [] []],
  :result 4}
 {:input "I0,I4,Q8",
  :render [[] [] [] [] [] [] [] [] [1] [1]],
  :result 1}
 {:input "I0,I4,Q8,I0,I4",
  :render [[] [] [] [] [] [] [] [] [] []],
  :result 0}
 {:input "L0,J2,L4,J6,Q8",
  :render [[1 1] [] [] [1 1] [1 1] [] [] [1 1] [1] [1]],
  :result 2}
 {:input "L0,Z1,Z3,Z5,Z7",
  :render [[1 1] [1] [1] [1] [1] [1] [1] [1] [1] []],
  :result 2}
 {:input "T0,T3",
  :render [[0 1] [1 1] [0 1] [0 1] [1 1] [0 1] [] [] [] []],
  :result 2}
 {:input "T0,T3,I6,I6",
  :render [[0] [1] [0] [0] [1] [0] [1] [1] [1] [1]],
  :result 1}
 {:input "I0,I6,S4",
  :render [[] [] [] [] [] [1] [1] [] [] []],
  :result 1}
 {:input "T1,Z3,I4",
  :render
  [[]
   [0 1]
   [1 1]
   [0 1 1]
   [0 1 1 1]
   [0 1 0 1]
   [0 0 0 1]
   [0 0 0 1]
   []
   []],
  :result 4}
 {:input "L0,J3,L5,J8,T1",
  :render
  [[1 1 1] [1 1] [1 1] [1 1] [1 1 1] [1 1 1] [1] [] [1] [1 1 1]],
  :result 3}
 {:input "L0,J3,L5,J8,T1,T6",
  :render [[1] [] [] [] [1] [1] [] [] [] [1]],
  :result 1}
 {:input "L0,J3,L5,J8,T1,T6,J2,L6,T0,T7",
  :render [[1] [1] [1] [1 1] [] [] [1 1] [1] [1] [1]],
  :result 2}
 {:input "L0,J3,L5,J8,T1,T6,J2,L6,T0,T7,Q4",
  :render [[] [] [] [1] [1] [1] [1] [] [] []],
  :result 1}
 {:input "S0,S2,S4,S6",
  :render
  [[1]
   [1 1]
   [0 1 1]
   [0 0 1 1]
   [0 0 0 1 1]
   [0 0 0 0 1 1]
   [0 0 0 0 0 1 1]
   [0 0 0 0 0 0 1 1]
   [0 0 0 0 0 0 0 1]
   []],
  :result 8}
 {:input "S0,S2,S4,S5,Q8,Q8,Q8,Q8,T1,Q1,I0,Q4",
  :render
  [[1 0 0 0 0 0 0]
   [1 1 0 0 1 1 1]
   [0 1 1 1 1 1 1]
   [0 0 1 1 1 0 0]
   [0 0 0 1 1 0 0 1]
   [0 0 0 0 1 1 1 1]
   [0 0 0 0 0 1 1]
   [0 0 0 0 0 0 0]
   [1 1 1 1 1 1 1]
   [1 1 1 1 1 1 1]],
  :result 8}
 {:input "L0,J3,L5,J8,T1,T6,S2,Z5,T0,T7",
  :render [[] [] [] [] [] [] [] [] [] []],
  :result 0}
 {:input "Q0,I2,I6,I0,I6,I6,Q2,Q4",
  :render [[1] [1] [0 1 1] [0 1 1] [1] [1] [1] [1] [1] [1]],
  :result 3}]
